<!DOCTYPE html>
<body>
  <div>
    <div class="column is-half is-offset-one-quarter">
      <table class="table is-narrow is-hoverable has-background-primary">
        <thead>
          <th colspan="9">Crustacés</th>
          <tr>
            <th>Nom</th>
            <th>Prix</th>
            <th>Prix en promotion</th>
            <th>Pourcentage de promotion</th>
            <th>Quantité en stock</th>
            <th>Nombres d'articles vendus</th>
            <th>Commentaires</th>
            <th>Changer le stock</th>
            <th>Changer la promotion</th>
          </tr>
        </thead>
        <tfoot>
          <tr>
            <th>Nom</th>
            <th>Prix</th>
            <th>Prix en promotion</th>
            <th>Pourcentage de promotion</th>
            <th>Quantité en stock</th>
            <th >Nombres d'articles vendus</th>
            <th>Commentaires</th>
            <th>Changer le stock</th>
            <th>Changer la promotion</th>
          </tr>
        </tfoot>
          <tr *ngFor="let c of crustaces">
            <td style="width: 10px;">{{ c.name }}</td>
            <td style="width: 10px;">{{ c.price }}</td>
            <td style="width: 10px;">{{ c.price_on_sale }}</td>
            <td style="width: 10px;">{{ c.discount }}</td>
            <td style="width: 10px;">{{ c.quantityInStock }}</td>
            <td style="width: 10px;">{{ c.quantity_sold }}</td>
            <td style="width: 10px;">{{ c.comments }}</td>
            <td style="width: 1%;">
              <input class="input is-success is-small" type="number" name="stockCrustace{{ c.id }}" min="-{{ c.quantityInStock }}" max="100" id="stock{{ c.id }}" placeholder="Quantité"
                (focusout)="stockModif(c.id, c.quantityInStock)" minlength="0" maxlength="100"><p id="errorStock{{ c.id  }}"></p>
            </td>
            <td style="width:10px">
              <input class="input is-danger is-small" type="number" name="pourcentPromo{{ c.id }}" min="0" max="99.99" placeholder="%" id="promo{{ c.id }}"
                (focusout)="promoModif(c.id)" step="0.01 " minlength="0.00" maxlength="99.99"><p id="errorPromo{{ c.id }}"></p>
            </td>
          </tr>
      </table>
    </div>


    <div class="columns">
      <div class="column is-half">
        <table class="table  is-narrow is-hoverable has-background-warning">
          <thead>
            <th colspan="9">Fruits de mer</th>
            <tr>
              <th>Nom</th>
              <th>Prix</th>
              <th>Prix en promotion</th>
              <th>Pourcentage de promotion</th>
              <th>Quantité en stock</th>
              <th>Nombres d'articles vendus</th>
              <th>Commentaires</th>
              <th>Changer le stock</th>
              <th>Changer la promotion</th>
            </tr>
          </thead>
          <tfoot>
            <tr>
              <th>Nom</th>
              <th>Prix</th>
              <th>Prix en promotion</th>
              <th>Pourcentage de promotion</th>
              <th>Quantité en stock</th>
              <th >Nombres d'articles vendus</th>
              <th>Commentaires</th>
              <th>Changer le stock</th>
              <th>Changer la promotion</th>
            </tr>
          </tfoot>
          <tr *ngFor="let fdm of fruitsDeMer">
            <td>{{ fdm.name }}</td>
            <td>{{ fdm.price }}</td>
            <td>{{ fdm.price_on_sale }}</td>
            <td>{{ fdm.discount }}</td>
            <td>{{ fdm.quantityInStock }}</td>
            <td>{{ fdm.quantity_sold }}</td>
            <td>{{ fdm.comments }}</td>
            <td>
              <input class="input is-success is-small" type="number" name="stockFdm{{ fdm.id }}" min="-{{ fdm.quantityInStock }}" max="100" placeholder="Quantité"  id="stock{{ fdm.id }}"
                (focusout)="stockModif(fdm.id, fdm.quantityInStock)" minlength="0" maxlength="100"><p id="errorStock{{ fdm.id }}"></p>
            </td>
            <td>
              <input class="input is-danger is-small" type="number" name="pourcentPromo{{ fdm.id }}" step="0.01" min="0.00" max="99.99" placeholder="%" id="promo{{ fdm.id }}"
                (focusout)="promoModif(fdm.id)"  minlength="0.00" maxlength="99.99"><p id="errorPromo{{ fdm.id }}"></p>
            </td>
          </tr>
        </table>
      </div>

      <div class="column">
        <table class="table is-bordered is-striped is-narrow is-hoverable has-background-info">
          <thead>
            <th colspan="9">Poissons</th>
            <tr>
              <th>Nom</th>
              <th>Prix</th>
              <th>Prix en promotion</th>
              <th>Pourcentage de promotion</th>
              <th>Quantité en stock</th>
              <th>Nombres d'articles vendus</th>
              <th>Commentaires</th>
              <th>Changer le stock</th>
              <th>Changer la promotion</th>
            </tr>
          </thead>
          <tfoot>
            <tr>
              <th>Nom</th>
              <th>Prix</th>
              <th>Prix en promotion</th>
              <th>Pourcentage de promotion</th>
              <th>Quantité en stock</th>
              <th >Nombres d'articles vendus</th>
              <th>Commentaires</th>
              <th>Changer le stock</th>
              <th>Changer la promotion</th>
            </tr>
          </tfoot>
          <tr *ngFor="let p of poissons; let i in poissons.length">
            <td>{{ p.name }}</td>
            <td>{{ p.price }}</td>
            <td>{{ p.price_on_sale }}</td>
            <td>{{ p.discount }}</td>
            <td>{{ p.quantityInStock }}</td>
            <td>{{ p.quantity_sold }}</td>
            <td>{{ p.comments }}</td>
            <td>
              <input class="input is-success is-small" type="number" name="stockPoisson{{ p.id }}" min="-{{ p.quantityInStock }}" max="100" placeholder="Quantité" id="stock{{ p.id }}"
                (focusout)="stockModif(p.id, p.quantityInStock)" minlength="0" maxlength="100"><p id="errorStock{{p.id }}"></p>
            </td>
            <td>
              <input class="input is-danger is-small" type="number" name="pourcentPromo{{ p.id }}" min="0.00" max="99.99" placeholder="%" id="promo{{ p.id }}"
                (focusout)="promoModif(p.id)" step="0.01 " minlength="0.00" maxlength="99.99"><p id="errorPromo{{p.id }}"></p>
            </td>
          </tr>
        </table>
      </div>
    </div>
  <div class="centrer">
    <button type="button" name="button" (click)="envoyerDonnees()" class="button is-outlined is-active is-info ">Modifier stock</button>
  </div>
  </div>
</body>
