<input type="text" (keyup)="getCorrespondance($event)" id="choixProduit" /><!-- list="autocompleteListe" -->

<div id="correspondance">
  <ul>
    <li *ngFor="let cl of correspondanceListe" (click)="getChoix(cl.id)">{{ cl.name }} ({{ cl.id }})</li>
  </ul>
</div>

<h2>Le détail du produit sélectionné :</h2>
<div *ngIf="produit; else elseBlock">
  <ul>
    <li>Nom : {{ produit.name }}</li>
    <li>Prix : {{ produit.price }}€</li>
    <li *ngIf="produit.sale">Prix en promotion : {{ produit.price_on_sale }}</li>
    <li>Pourcentage de promotion : {{ produit.discount }}%</li>
    <li>Quantité en stock : {{ produit.quantityInStock }}</li>
    <li>Nombre de vendus : {{ produit.quantity_sold }}</li>
    <li>Commentaires : {{ produit.comments }}</li>
  </ul>

  <label for="operation">Type d'opération :</label>
  <select name="operation" id="operation" [(ngModel)]="operation">
    <option value="ajout">Ajout</option>
    <option value="vente">Retrait par vente</option>
    <option value="invendu">Invendu(s)</option>
  </select>

  <label for="unite">Unités :</label>
  <input type="number" name="unite" id="unite" min="0" [(ngModel)]="unite" />

  <button (click)="plus(produit.id, unite)">Augmenter Stock</button>
  <button (click)="moins(produit.id, unite)" [disabled]="unite > produit.quantityInStock">Diminuer Stock</button>

  <br>

  <label for="pourcentPromo">Pourcentage de promotion :</label>
  <input type="number" name="pourcentPromo" id="pourcentPromo" min="0" max="100" [(ngModel)]="pourcentPromo" />

  <button (click)="promo(produit.id, pourcentPromo)" [disabled]="pourcentPromo == produit.discount">Changer la promotion</button>

  <p *ngIf="unite < 0">La valeur ne peut pas être négative.</p>
</div>
<ng-template #elseBlock><p>Aucun produit sélectionné.</p></ng-template>
